# Clean out cache contents from previous deploys
clean_cache=false

# We can set the version of Node to use for the app here
node_version=12.9.1

# We can set the version of NPM to use for the app here
npm_version=6.10.2

# Remove node and node_modules directory to keep slug size down if it is not needed.
remove_node=false
