/* This file is for your main application css. */

html, body {
    background-color: #F9F9FA;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header nav {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #eee;
}

header nav > a {
    margin: 0 20px;
    font-size: 16px;
}

header button.hamburger {
    margin-left: auto;
    display: none;
    background: none;
    border: none;
    outline: none !important;
}

header button.hamburger img {
    width: 30px;
}


@media (max-width: 768px) {
    header button.hamburger {
        display: flex;
    }

    header nav {
        flex-direction: column;
    }

    header nav > a {
        margin: 7px 0;
        display: none;
    }

    header nav.active > a {
        display: block;
    }
}

a {
    color: rgb(33, 37, 41);
}

a:hover, a:focus, a:active {
    color: rgb(33, 37, 41) !important;
    text-decoration: underline !important;
}

@media (min-width: 768px) {
    .home-page-container {
        height: calc(100vh - 55px - 30px - 3rem - 1.5rem);
    }

    .home-page-container > .row, .home-page-container > .row > div {
        height: 100%;
    }

    .home-page-container > .row > div {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}

.wrapper > h1 {
    font-weight: 500;
    flex-basis: 100%;
    margin-bottom: 20px;
    line-height: 1;
}

.wrapper > .logo-wrapper {
    position:relative;
    flex-basis: 100%;
    margin-bottom: 30px;
}

.wrapper > .logo-wrapper > .badge {
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    background-color: #66E1D5;
    color: white;
    font-size: 12px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    border-radius: 3px;
}


.wrapper > h5 {
    color: rgb(102, 102, 102);
    font-size: 15px;
    font-weight: 500;
    flex-basis: 100%;
    margin-bottom: 30px;
}

.wrapper > .read-more {
    margin-left: 20px;
    text-decoration: underline;
}

.wrapper {
    background-color: white;
    display: flex;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 30px 50px;
    border-radius: 6px;
    box-shadow: rgba(194, 194, 194, 0.3) 1px 1px 30px 0px;
    border: 1px solid #d6d6d6;
    margin: 0 auto;
}

.wrapper--invisible {
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 10px;
    justify-content: flex-end;
    opacity: 0.8;
}

.wrapper > .logo-wrapper > img.logo {
    max-width: 150px;
    border-radius: 8px;
}

.wrapper > img.logo--small {
    max-width: 80px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.wrapper > iframe {
    border: none;
    flex-basis: 100%;
    width: 300px;
    height: 300px
}

.wrapper > h3 {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 15px;
}

.wrapper > h3 > img {
    height: 30px;
    margin-left: 5px;
    margin-top: -2px;
}

/*@media (min-width: 768px) {*/
/*    .about-content {*/
/*        padding: 0 50px;*/
/*    }*/
/*}*/

.about-content h2 {
    font-weight: 800;
}

.about-content p {
    font-weight: 400;
    opacity: 0.8;
}

.btn-outline-dark {

}

.btn:hover {
    color: #F9F9FA !important;
    text-decoration: none !important;
}

.list-item {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2px solid rgb(33, 37, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgb(33, 37, 41);
    font-size: 30px;
    font-weight: 700;
}

.media img {
    display: block;
    max-width: 100%;
}

@media (max-width: 768px) {
    .media {
        display: flex;
        flex-wrap: wrap;
    }

    .media .media-body {
        flex-basis: 100%;
    }
}
